*~*
#*#
*.o
*.d
.DS_Store
autogen
emdrvdoc
*junk*
build
exe
lst
obj
Debug
Release
settings
*.dep
scripts/emdrvreportfile.html
aesdrv/test/genproject/iar/aesdrv-test-efr32cg.ewp
aesdrv/test/genproject/iar/aesdrv-test-giant.ewd
aesdrv/test/genproject/iar/aesdrv-test-giant.ewp
aesdrv/test/genproject/iar/aesdrv-test.eww
aesdrv/test/iar/aesdrv-test-efr32cg.ewd
aesdrv/test/iar/aesdrv-test-efr32cg.ewp
aesdrv/test/iar/aesdrv-test-efr32cg.ewt
aesdrv/test/iar/aesdrv-test-giant.ewd
aesdrv/test/iar/aesdrv-test-giant.ewp
aesdrv/test/iar/aesdrv-test-giant.ewt
aesdrv/test/iar/aesdrv-test.eww
ecc/test/iar/Locals.log
ecc/test/iar/ecctest.ewd
ecc/test/iar/ecctest.ewp
ecc/test/iar/ecctest.ewt
ecc/test/iar/ecctest.eww
aesdrv/test/genproject/iar/aesdrv-test-efr32cg.ewd
shadrv/test/genproject/iar/shadrv_test.eww
shadrv/test/genproject/iar/shadrv_test_fpga.ewd
shadrv/test/genproject/iar/shadrv_test_fpga.ewp
shadrv/test/genproject/iar/shadrv_test_fpga.ewt
rsadrv/test/genproject/iar/
